.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  // Moves up to fill the triangular gap cut out of the green image
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../../img/nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg) translateY(-10rem);

  // Selects the "direct children" that are anything ("*")
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -21rem;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}
